.nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    color: #44355B;
    padding:0px 25px;
}
.nav>h1{
    /* font-family: cursive; */
    font-weight: 900;
    /* font-style: unset; */
}
.nav>section>ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}
.nav>section>ul>li>a{
    text-decoration: none;
    color: #44355B;
}
.nav>section>ul>li:nth-child(4)>a{
    border: 1px solid #EE5622;
    padding:15px 15px;
    border-radius: 50px;
    color: #EE5622;
}

.nav>section>ul>li>a:hover{
    color: #EE5622;
}
.nav>section>ul>li:nth-child(4)>a:hover{
    border: 1px solid #EE5622;
    background-color: #EE5622;
    color: #44355B;
}
.nav>section>button{
    display: none;
}
.nav>section>ul>li>button{
    background-color: transparent;
    border: none;
    font-size: 1.5em;
}

.nav>section>button{
    background-color: whitesmoke;
    color: #44355B;
    font-size: 1.2em;
    border: none;
    display: none;
}
.sidebar{
    display: none;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 70%;
    height: 100vh;
    background-color: #44355B;
    padding: 25px;
}
.sidebar ul,.sidebar a{
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
}
.sidebar button{
    background-color: #44355B;
    border: none;
    color: #EE5622;
    font-size: 1.2em;
}
.sidebar hr{
    margin: 10px 0px;
}
.sidebar .active{
    color: #EE5622;
}
.nav>section>ul>li>.active{
    color: #EE5622;
}
@media screen and (max-width: 500px) {
    .nav>section>button{
        display: block;
    }
    .nav>section>ul{
        display: none;
    }
}