.footer{
    height: 100vh;
    background-color: #221E22;
    /* color: #EE5622; */
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer h3{
    color: #EE5622;
}
.social{
    margin-top: 15px;
    display: flex;
    gap: 15px;
}
.social a{
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 0.5px solid whitesmoke;
    color: whitesmoke;
}
.social a:hover{
    background-color: whitesmoke;
    color: #221E22;
}